<section class="row">
  <div id="nameTitle" class="col s12 teal lighten-2 white-text">
    <h2 class="center-align">Unearthly Venues</h2>
    <p class="center-align">Supernaturally Good Prices</p>
  </div>
</section>
<section class="container">
  <div class="row">
    <h3 class="center-align">Featured Venues!</h3>
  </div>
</section>
<div class="row">
  <div class="carousel">
    {{#each venues as |venue|}}
    <div class="col s12 m6 l4 carousel-item">
      <div class="card hoverable blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{venue.location}}</span>
          <p>Located in: {{venue.city}}, {{venue.state}}</p>
          <p>{{venue.description}}</p>
        </div>
        <div class="card-action">
          <a href="/venues/{{venue.id}}">Browse Reviews</a>
          <a href="/venues/{{venue.id}}">Book an Event</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<section class="row teal darken-4-2 white-text">
  <div id="nameTitle" class="col s12 teal darken-4-2 white-text">
    <h3 class="center-align">Find venues in your city!</h3>
    <p class="center-align"></p>
  </div>
  <div class="container">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
  </div>

</section>

{{!-- Carousel Script --}}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    let elems = document.querySelectorAll('.carousel');
    let instances = M.Carousel.init(elems, {
      dist: -50,
      numVisible: 7,
    });
  });
</script>