<section class="container mx-auto lg:w-7/12">
  {{!-- testbuttons --}}
  <div class="flex flex-col p-4 gap-2">
    <div class="border-b-2">
      <h1 class="text-3xl">Test Buttons</h1>
    </div>
    <div>
      <button class="border-2 rounded p-2" id='newVenueButton'>Add Random Saved Venue</button>
    </div>
  </div>
  {{!-- User Info Section --}}
  <div class="flex flex-col p-4">
    <div class="border-b-2">
      <h1 class="text-3xl">User Info</h1>
    </div>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
  </div>
  {{!-- User Saved Places Section --}}
  {{#if user.venues.length}}
  <div class="flex flex-col p-4" id='savedVenuesSection'>
    <div class="border-b-2 mb-2 ">
      <h1 class="text-3xl">Saved Venues</h1>
    </div>

    {{#each user.venues as |venue|}}
    <div class="flex flex-row justify-between mb-2">
      <div class="flex flex-col">
        <a class="underline " href="/venues/{{venue.id}}">{{venue.location}}</a>
        <p>{{venue.city}}, {{venue.stateAbbrev}}</p>
      </div>
      <div>
      <button class="border-red-500 border-2 rounded p-2" data-venue-id='{{venue.id}}'>Remove From Saved</button>        
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{!-- User Events Section --}}
  {{#if user.events.length}}
  <div class="flex flex-col p-4">
    <div class="border-b-2">
      <h1 class="text-3xl">Booked Events</h1>
    </div>

    {{#each user.events as |event|}}
    <div>

    </div>
    {{/each}}
  </div>
  {{/if}}
  {{!-- User Reviews Section --}}
  {{#if user.reviews.length}}
  <div class="flex flex-col p-4">
    <div class="border-b-2">
      <h1 class="text-3xl">Written Reviews</h1>
    </div>

    {{#each user.reviews as |review|}}
    <div>

    </div>
    {{/each}}
  </div>
  {{/if}}
</section>
<script src="/js/dashboard.js"></script>