<section class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <h2 class="text-center">Featured Venues!</h2>
    <p class="text-center">Supernaturally Good Prices</p>
  </div>
  <div class="row justify-content-center">
    {{#each venues as |venue|}}
    <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
      <div class="card shadow h-100">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{venue.location}}</h5>
            <p>Located in: {{venue.city}}, {{venue.state}}</p>
            <p>{{venue.description}}</p>
          </div>
          <div class="">
            <a href="/venues/{{venue.id}}" class="btn btn-primary mb-2">Browse Reviews</a>
            <a href="/venues/{{venue.id}}" class="btn btn-primary mb-2">Book an Event</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
<section class="container-flex bg-green text-light">
  <div id="" class="">
    <h3 class="text-center">Find venues in your city!</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <form class="d-flex mb-2" id='homeSearchForm'>
          <input class="form-control me-2" type="search" placeholder="Autocomplete TDB" aria-label="Search" id='homeSearchInput'>
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="card shadow h-100">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title">{{venue.location}}</h5>
              <p>Located in: {{venue.city}}, {{venue.state}}</p>
              <p>{{venue.description}}</p>
            </div>
            <div class="">
              <a href="/venues/{{venue.id}}" class="btn btn-primary mb-2">Browse Reviews</a>
              <a href="/venues/{{venue.id}}" class="btn btn-primary mb-2">Book an Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/home.js"></script>