<section class="relative">
  {{!-- carousel --}}
  <div id="image-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="hero-image-slides">
            <img class="object-cover h-full w-full" src="/images/green_lawn.jpg">
          </div>
        </li>
        <li class="splide__slide">
          <div class="hero-image-slides">
            <img class="object-cover h-full w-full" src="/images/white_clouds.jpg">
          </div>
        </li>
        <li class="splide__slide">
          <div class="hero-image-slides">
            <img class="object-cover h-full w-full" src="/images/cones.jpg">
          </div>
        <li class="splide__slide">
          <div class="hero-image-slides">
            <img class="object-cover h-full w-full" src="/images/mid_evil.jpg">
          </div>
        </li>
      </ul>
    </div>
  </div>
  {{!-- end carousel --}}
  {{!-- darkness filter and title setup section --}}
  <div class="absolute inset-0 backdrop-filter backdrop-blur-sm backdrop-brightness-50 z-50">
    <div class="container mx-auto h-full px-4">
      <div class="flex flex-col justify-center h-full text-white">
        <div class="animate__animated animate__fadeInDown">
          <h1 class="text-5xl font-bold">Unearthly Venues</h1>
          <p class="py-2">Supernaturally low prices, unbelievable life experiences! Choose from one of our featured
            venues
            or search for your city below for local venues!
          </p>

        </div>
        <div class="animate__animated animate__fadeInUp">
          <form class="flex flex-row gap-2" id='homeSearchForm'>
            {{!-- AUTOCOMPLETE INPUT --}}
            <input class="rounded-lg shadow-2xl text-2xl py-2 px-4 text-black flex-1" aria-label="Search"
              id='homeSearchInput' type="search" autocomplete="off" autocapitalize="off" spellcheck=false
              placeholder="Autocomplete" dir="ltr" aria-label="Search" maxlength="2048">
            {{!-- AUTOCOMPLETE INPUT --}}
            <input type="submit" class="hidden" />
            <button class="bg-blue-400 text-blue-50 rounded-lg py-2 px-4 text-2xl" type="submit">Search</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  {{!-- end title section --}}
</section>

{{!-- START SEARCH RESULTS --}}
<section class="p-4 overflow-hidden hidden" id='searchResultContainer'>
  <div class="py-8 px-4">
    <h2 class="text-4xl font-bold">Your Search Results!</h2>
    <p class="py-2">Find your search results here; search by city or state. If you gave us permission to use your
      location, we might've already searched for you!</p>
  </div>
  <div class="" id='searchCarousel'>
    <div class="splide__track">
      <ul class="splide__list">
      </ul>
    </div>
  </div>
  </div>
</section>
{{!-- END SEARCH RESULTS --}}


{{!-- START VENUE CARDS --}}
<section class="container mx-auto py-4 flex flex-col flex-wrap gap-4 sm:grid sm:grid-cols-2 lg:grid-cols-3">
  <div class="col-span-full py-8 px-4">
    <h2 class="text-4xl font-bold">Featured Venues!</h2>
    <p class="py-2">Guaranteed* to make your day or night! Choose from one of our featured venues below to host your
      next event.
    </p>
  </div>
  {{#each venues as |venue|}}
  <div
    class="animate__animated animate__slideInLeft bg-white rounded-lg shadow-xl w-full flex flex-col gap-2 transition-all transform scale-100 hover:scale-105 hover:shadow-2xl">
    {{!-- title and image section --}}
    <div>
      <div class="bg-gray-200 rounded-t-lg px-4 flex flex-row justify-between py-2">
        <div>
          <h2 class="text-xl font-extrabold">{{venue.location}}</h2>
          <p class="text-lg text-gray-600">{{venue.city}}, {{venue.state}}</p>
        </div>
        {{#if venue.userSaved}}
        <button class="text-2xl text-yellow-500 removeSavedVenue" data-venue-id="{{venue.id}}">
          <span class='hidden'>
            <i class="far fa-star"></i>
          </span>
          <span class="">
            <i class="fas fa-star"></i>
          </span>
        </button>
        {{else}}
        <button class="text-2xl text-yellow-500 addSavedVenue" data-venue-id="{{venue.id}}">
          <span class=''>
            <i class="far fa-star"></i>
          </span>
          <span class="hidden">
            <i class="fas fa-star"></i>
          </span>
        </button>
        {{/if}}
      </div>
      <div class="">
        <img class="object-cover w-full h-56" src="https://picsum.photos/seed/{{venue.location}}/600/400" alt="">
      </div>
    </div>
    {{!-- description section --}}
    <div class="px-4 pb-2">
      <p>{{venue.description}}</p>
    </div>
    {{!-- button section --}}
    <div class="px-4 mb-4 flex flex-row gap-2 mt-auto border-t pt-2">
      <button onclick="location.href = '/venues/{{venue.id}}'" id="bookEventButton"
        class="bg-blue-400 text-blue-50 rounded-lg py-2 px-4 mt-5-right hover:bg-blue-600">
        Visit Venue Page
      </button>
      <button onclick="location.href = '/venues/{{venue.id}}'" id="bookEventButton"
        class="border border-blue-400 text-blue-400 rounded-lg py-2 px-4 mt-5-right hover:bg-blue-600">
        Book an Event
      </button>
    </div>
  </div>
  {{/each}}
</section>
{{!-- END VENUE CARDS --}}

{{!-- START FOOTER --}}

<footer class="mx-auto container py-8 flex flex-col gap-2">
  <div>
    <p class="text-center">Made with ❤ by the Web Spinners ©2021</p>
  </div>
  <div>

  </div>
  <h5 class="w-full text-center">Developed by</h5>
  <div class="grid grid-cols-2 gap-2">
      {{!-- Section one --}}
      <div class="w-full lg:w-1/2 px-6">
        <h6 class="center white-text" id="name">Jessica Galarza</h6>
        <ul>
          <div class="col s4">
            <li><i class="fab fa-github"></i><a href="https://github.com/jessica9410" target="_blank">GitHub</a>
            </li>
            <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/jessicagalarza07/"
                target="_blank">LinkedIn</a></li>
            <li><i class="fab fa-twitter"></i><a href="https://twitter.com" target="_blank">Twitter</a></li>
        </ul>
      </div>
      {{!-- section two --}}
      <div class="w-full lg:w-1/2 px-6">
        <h6 class="center white-text" id="name">Jake Swackhammer</h6>
        <ul>
          <li><i class="fab fa-github"></i><a href="https://github.com/graybishop" target="_blank">GitHub</a></li>
          <li><i class="fab fa-linkedin"></i><a href="#" target="_blank">LinkedIn</a></li>
          <li><i class="fab fa-twitter"></i><a href="https://twitter.com" target="_blank">Twitter</a></li>
        </ul>
      </div>

      {{!-- Section three --}}
      <div class="w-full lg:w-1/2 px-6">
        <h6 class="center white-text" id="name">Sheralyn Files</h6>
        <ul>
          <li><i class="fab fa-github"></i><a href="https://github.com/sgfiles" target="_blank">GitHub</a></li>
          <li><i class="fab fa-linkedin"></i><a href="#" target="_blank">LinkedIn</a></li>
          <li><i class="fab fa-twitter"></i><a href="https://twitter.com" target="_blank">Twitter</a></li>
        </ul>
      </div>
      {{!-- Section 4 --}}
      <div class="w-full lg:w-1/2 flex">
        <div class="w-full lg:w-1/2 px-6">
          <h6 class="center white-text" id="name">Mohamed Lazrek</h6>
          <ul>
            <li><i class="fab fa-github"></i><a href="https://github.com/lazrekm" target="_blank">GitHub</a></li>
            <li><i class="fab fa-linkedin"></i><a href="#" target="_blank">LinkedIn</a></li>
            <li><i class="fab fa-twitter"></i><a href="https://twitter.com" target="_blank">Twitter</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>

{{!-- END FOOTER --}}

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
<script src="/js/autocomplete-city.js"></script>
<script src="/js/home.js"></script>
<script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
<script src="/js/home-intro-setup.js"></script>